NODE_ENV=development
PORT=3005
# FRONTEND APP
FRONTEND_URL_ON_RENDER=
FRONTEND_URL_DEVELOPMENT=
FRONTEND_URL_PRODUCTION=
CORS_ORIGIN=


GEMINI_API_KEY=
# BACK-END APP
APP_URL=

# DB
MONGO_ATLAS_URI=

# CLOUDINARY (Image Upload Service)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# PAYPLUS 
PAYPLUS_PROD_API_URL=https://restapi.payplus.co.il/api/v1.0
PAYPLUS_DEV_API_URL=https://restapidev.payplus.co.il/api/v1.0
PAYPLUS_API_KEY=
PAYPLUS_SECRET_KEY=
PAYPLUS_TERMINAL_UID=
PAYPLUS_PAYMENT_PAGE_UID=
# AUTH0 ENV
AUTH_SECRET=
AUDIENCE=
ISSUER_BASE_URL=
TOKEN_SIGNING_ALG=

# successful payment uri's ngrock
BASE_URL_NGROK=""